.fa-yes{
    color:#48f848
  }
  
  .fa-none{
    color:hsl(39, 93%, 63%)
  }
  
  .fa-no{
    color:rgb(247, 38, 30)
  }
  
  mat-label{
    margin: 10px;
  }
  mat-label, i {
    margin-right: 10px;
  }
  
  button{
    border: 1px solid rgb(176, 90, 194);
  }