<!--Gestion de l'identification du user si connecté et de la fonction login/logout-->
<div class="member-top">
    <app-member></app-member>
</div>

<div *ngIf="followupService.followUpisCreating$ | async" class="loader">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="listFollowupsService.listsAreLoading$ | async" class="loader">
    <mat-spinner></mat-spinner>
</div>
<!-- SIDEBAR et Cartes Films -->
<div class="member-content">
    <!-- Barre latérale de navigation entre séries/ films -->
    <aside>
        <app-member-content-nav></app-member-content-nav>
    </aside>

    <!-- Contenu principal de la page avec les sous-menus et les cartes -->
    <section class="container member-content-block">
        <!-- Titre du contenu -->
        <h2>Mes Séries</h2>

        <!--Menu de sous-navigation dans la page Envie/ Vu + Ajouter des films-->
        <nav class="member-content-submenu">
            <ul>
                <li (click)="onClickMesEnvies()" [class.active-nav]="isMesEnvies">Mes envies ({{ wishListNb }})</li>
                <li (click)="onClickDejaVus()" [class.active-nav]="!isMesEnvies">En cours ({{ seenListNb }})</li>
            </ul>
            <button mat-flat-button
                (click)="openAddResourceDialog()">
                <mat-icon>add</mat-icon> Ajouter des séries
            </button>
        </nav>

        <!-- Liste des combo-box pour la sélection tri des films -->
        <div *ngIf="!isMesEnvies" class="member-content-select">
            <button mat-flat-button class="sort-menu"
                [matMenuTriggerFor]="sortBy"> {{ selectedSortByCriteria.viewValue }}  <i class="fa fa-angle-down" aria-hidden="true"></i></button>

            <button mat-flat-button class="filter-menu"
            [matMenuTriggerFor]="filterBy"> {{ selectedFilterByNote.viewValue }}  <i class="fa fa-angle-down" aria-hidden="true"></i></button>
         </div>

        <!-- Liste des resources followups -->
        <div class="row member-card-list">
            <div *ngIf="!isMesEnvies" 
                class="col-6 col-md-4 col-lg-3 col-xl-2 movie-add-card" >
                <mat-card (click)="openAddResourceDialog()">
                    <mat-icon>add_box</mat-icon>
                    <div> Ajouter des séries</div>
                </mat-card>
            </div>

            <div *ngFor = "let followUp of followUpList" 
            class="col-6 col-md-4 col-lg-3 col-xl-2">
                <!-- Carte pour chaque followUp du member à afficher-->
                <app-card [followUp]="followUp"></app-card>
            </div>
        </div>
    </section>
</div>


<mat-menu #sortBy="matMenu">
    <button *ngFor="let sortBy of sortByCriteria" mat-menu-item class="sort-menu"
    (click)="onChangeSortByCriteria(sortBy)"> {{ sortBy.viewValue }}</button>
</mat-menu>

<mat-menu #filterBy="matMenu">
    <button *ngFor="let filterBy of filterByNote"  mat-menu-item class="filter-menu"
    (click)="onChangeFilterByCriteria(filterBy)"> {{ filterBy.viewValue }} </button>
</mat-menu>