<div class="d-flex flex-column align-items-center">
  <h2>Modifier Progression</h2>
  <h5>{{data.followUpData.title}}</h5>
</div>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node class="episode-line" *matTreeNodeDef="let node">
      <div class ="episode-title">Episode {{node.number}} : {{node.title}}</div>
      <div class = "episode-seen" 
          (click)="onClickSeen(node)"><mat-icon [class.vu]="getNodeStatus(node)">remove_red_eye</mat-icon></div>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node class="season-line" *matTreeNodeDef="let node;when: hasChild">
      <div class ="season-title" >{{node.title}}</div>
      <div class = "season-seen"
            (click)="onClickSeen(node)"><mat-icon [class.vu]="getNodeStatus(node)">remove_red_eye</mat-icon></div>

      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
  </mat-tree-node>
</mat-tree>

<div class="d-flex justify-content-around">
  <button mat-button (click)="onClose()" class="annuler">Annuler</button>
  <button mat-button (click)="onSave()" class="enregistrer">Enregistrer</button>
</div>