.enregistrer{
  margin-top: 10px;
  background: rgb(176, 90, 194);
}
.annuler{
  margin-top: 10px;
  background: rgb(202, 199, 199);
}

mat-tree-node.episode-line {
  border-bottom: 1px solid #b3b3b3;
}

div.episode-title{
  padding-left: 30px;
  width : 90%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

mat-tree-node.season-line {
  background-color: lightgrey;
}

div.season-title{
  text-transform: uppercase;
  width : 90%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 15px;
}

div.episode-seen, div.season-seen {
  color : #b3b3b3;
  padding: 0px 5px;
  cursor: pointer;
  margin-right: 10px;
}

.vu {
  color: #b05ac2;
}