// .card {
//     background: #0a0c1a;
//     border:none;
//     margin-bottom: 55px;
//  }
 .backbtn {
    background: transparent;
    color: #fff;
    border: none;
    padding: 9px 19px;
    transition-duration: 300ms;
 }
 .backbtn:hover {
     color: rgb(147, 147, 245);
 }