<div class="d-flex">
    <button class="backbtn" routerLink=""><i class="fas fa-arrow-left"></i></button>
    <h1>TITRE DE LA SERIE</h1>
 </div>
<!-- infos détail -->

<div class="card">
    <div class="row">
        <div class="col-6">
            <img src="https://fr.web.img6.acsta.net/c_180_240/pictures/21/01/28/17/39/5041772.jpg"
                class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-6">
                <h5 class="card-text"> Date : <h6 class="text-muted">
                        2020</h6>
                </h5>
                <h5 class="card-text"> Réalisateur : <h6 class="text-muted">
                        Inconnu</h6>
                </h5> 
                <h5 class="card-text">Avec : <h6 class="text-muted">Des gens
                        chers ...</h6>
                </h5>
                <h5 class="card-text">Synopsis : <h6 class="text-muted">bla bla
                        bla</h6>
                </h5>
        </div>
    </div>
</div> <!--fin card-->

<div class="row"> 
    <div class="col-6"> <!--tableau des saisons-->
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Saison</th>
                    <th scope="col">Episodes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>5</td>
                </tr>
            </tbody>
        </table>
    </div><!--fin tableau des saisons-->
    <div class="col-6"><!--zone de notaion -->
        <div class="user-content-resource-card-note-holder">
            <div class="container-fluid d-flex justify-content-between">
                <i class="far fa-meh card-note-bof fa-3x"></i>
                <i class="far fa-smile card-note-moyen fa-3x"></i>
                <i class="fas fa-grin-stars card-note-top note-top fa-3x"></i>
            </div>

        </div>
    </div><!--fin zone de notation-->
</div>
