<!--Gestion de l'identification du user si connecté et de la fonction login/logout-->
<div *ngIf="isLog" class="container appli-member">      
    <!--Si connecté : affichage du pseudo et bouton de déconnexion au survol-->
    {{loggedMember.pseudo}}
    <button mat-mini-fab
    [matMenuTriggerFor]="menu" class="logout-btn">
      <mat-icon>person</mat-icon>
    </button>
</div>

<mat-menu #menu="matMenu" >
  <p class="member-menu"><em>{{loggedMember.pseudo}}</em></p>
  <p class="member-menu">Dernière connexion : {{loggedMember.lastConnexionDateTime| date: 'dd/MM/YYYY à HH:mm'}} </p>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="OnClickLogOut()" class="member-menu">
    <i class="fa fa-power-off" aria-hidden="true"></i> Déconnexion </button>
    <mat-divider></mat-divider>
</mat-menu>
