<div class="panel-formulaire-connexion">
    <!--Formulaire Connexion -->
    <div id="message-erreur-holder">
    </div>
    <form>
      <div class="form-group">
        <input id="loginPseudo" type="text" class="form-control" placeholder="Pseudo" required autofocus
          minlength="6">
      </div>
      <div class="form-group">
        <input id="loginPassword" type="password" class="form-control" placeholder="Mot de passe" required
          minlength="6">
      </div>
      <div class="form-group">
        <div class="container d-flex justify-content-center">
          <button id="boutonConnexion" type="submit" class="btn">
            Se connecter</button>
        </div>
      </div>
    </form>
  </div>