.panel-formulaire-connexion, input {
    font-size: 0.875rem;
}

.form-group {
    margin-bottom:15px;
}

#boutonConnexion{
    margin-top: 10px;
    background:rgb(176, 90, 194); 
    color:white;  
    font-size: 0.875rem;
}

.erreur-member {
    border-width: 2px;
    border-color:rgb(255, 0, 0);
    background:rgba(255, 0, 0, 0.5);
}

#message-erreur-holder {
    font-size: 0.875rem;
    padding: 1rem 1rem;
    text-transform: uppercase;
    font-weight: 700;
    color: red;
    text-align: center;
}

.objet-masque {
    display : none;
}