<!-- Pour le bandeau principal de l'application -->
<header>
  <!-- Bandeau de l'application qui apparaît sur toutes les pages-->
  <div class="container appli-header">
    <!--Titre de l'application avec icone-->
    <div class="appli-header-title">
      <div class="appli-header-title-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></div>
      <h1>KesKonAVu</h1>
    </div>
    <!--Gestion de l'identification du user si connecté et de la fonction login/logout-->
    <div *ngIf="isLog" class="appli-header-member">      
      <!--Si connecté : affichage du pseudo et bouton de déconnexion au survol-->
      {{loggedMember.pseudo}}
      <button mat-mini-fab class="logout-btn">
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </div>
</header> <!--Fin du bandeau principal de l'application -->

<main>
  <!--Affiche Ecran de connexion/login route "/"-->
  <router-outlet></router-outlet>
</main>