header {
    background: rgb(176, 90, 194);
}

div.appli-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.appli-header-title {
    display: flex;
    justify-content: left;
    align-items: baseline;
    color : white;
    margin : 2px 0px;
}

div.appli-header-title h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

div.appli-header-title-icon {
    padding: 0px 12px;
    font-size: 1.5rem;
}

div.appli-header-member {
    font-weight: 700;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.logout-btn {
    color : black;
    font-size: 1.25rem;
    background:  rgba(222, 169, 233, 0.4);
    margin: 5px 0px 5px 10px;
}