.main-user-content {
    font-family: 'Montserrat', sans-serif;
    background: #272F36;
    color:white;
    min-height: calc(100vh - 46px);
}

.card {
    background: #272F36;
 }
.card-note-top:hover {
    color:greenyellow;
}

.note-moyen, .card-note-moyen:hover {
    color:orange;
}

.note-bof, .card-note-bof:hover {
    color:orangered;
}

.backbtn {
    background: transparent;
    color: #fff;
    border: none;
    padding: 9px 19px;
    transition-duration: 300ms;
 }
 .backbtn:hover {
    color: rgb(147, 147, 245);
}
.table {
    text-align: center;
    } 