.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    // background-image: url("{{data.followUp.resource.pictureurl}}");
    background-size: cover;
  }

.fa-grin-stars{
  color:#48f848
}

.fa-smile{
  color:hsl(39, 93%, 63%)
}

.fa-meh{
  color:rgb(247, 38, 30)
}

mat-label{
  margin-right: 10px;
}

button{
  border: 1px solid rgb(176, 90, 194);
}