form.registerForm {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

form.registerForm button, form.registerForm input {
    font-family: 'Montserrat', sans-serif;
}

form.registerForm button{
    background: rgb(176, 90, 194);
    color: white;
    font-size: 1rem;
}

form.registerForm div.field-spacer {
    height: 10px;
}